.box {
    background-color: whitesmoke;
    padding-bottom: 100px;
    padding-top: 30px;
}
h6 {
    text-align: center;
}
.container {
    background-color: lightblue;
    padding-bottom: 400px;
    padding-top: 100px;
}

.chart {
    padding-top: 30px;
    padding-bottom: 120px;
    background-color: whitesmoke;
}